<div id="<%= dom_id movie_production_company %>">
  <p>
    <strong>Movie:</strong>
    <%= movie_production_company.movie_id %>
  </p>

  <p>
    <strong>Production company:</strong>
    <%= movie_production_company.production_company_id %>
  </p>

</div>
