<h1>New movie production company</h1>

<%= render "form", movie_production_company: @movie_production_company %>

<br>

<div>
  <%= link_to "Back to movie production companies", movie_production_companies_path %>
</div>
